<template>
  <div v-if="!!product && !!currentVariantCode" class="variants-selector-container" v-click-outside="closeSelectors">
    <div v-for="param in specificationParams" class="param-wrapper">
      <div class="pseudo-selector"
           :class="{ open: param.code == openParamCode, scroll: restVariants.length > 4 }"
           @click.stop="toggleSelector(param.code)"
      >
        <span class="param-name">{{param.name}}</span>
        <span class="active-element-param">{{ getParamValueOfVariantByCode(activeVariant, param.code) }}</span>
        <transition-group name="fadeanim" mode="out-in" tag="div" class="list">
          <div v-if="restVariants.length == 0 && param.code == openParamCode" class="element" key="0">
            Brak produktów o innej wartości parametru
          </div>
          <div v-else v-for="variant in restVariants"
               class="element"
               @click="changeActiveVariant(variant.code, param.code)"
               :key="variant.code"
          >
            {{getParamValueOfVariantByCode(variant, param.code)}}
          </div>
        </transition-group>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "VuePluginVariantsSelector",
    props: {
      product: {
        required: true,
        default: () => console.log('Missing product object.')
      },
      currentVariantCode: {
        type: String,
        required: true,
        default: () => console.log('Missing current variant code.')
      }
    },
    data() {
      return {
        openParamCode: null
      }
    },
    computed: {
      specificationParams() {
        let temp = [];

        if (!!this.product && !!this.product.variants) {

          Object.values(this.product.variants).forEach(variant => {

            if (!!variant.specification && !!variant.specification.items) {

              variant.specification.items.forEach(param => {

                if (!temp.some(e => e.code == param.code)) {
                  temp.push({
                    code: param.code,
                    name: param.name
                  })
                }
              });
            }
          })
        }

        return temp;
      },

      activeVariant() {
        let temp = null;

        if (!!this.product && !!this.product.variants && !!this.product.variants[this.currentVariantCode]) {
          temp = this.product.variants[this.currentVariantCode];
        }

        return temp;
      },

      restVariants() {
        let variants = [];

        if (!!this.openParamCode) {

          if (!!this.product && !!this.product.variants) {
            variants = Object.values(this.product.variants);

            if (!!this.activeVariant) {

              if (!!this.activeVariant.code) {
                variants = this.removeVariantByCode(variants, this.activeVariant.code);
              }

              if (!!this.activeVariant.specification && !!this.activeVariant.specification.items) {

                variants.forEach(variant => {

                  if (!!variant.specification && !!variant.specification.items) {

                    this.activeVariant.specification.items.forEach(param => {

                      if (param.code !== this.openParamCode) {

                        let paramCorrespondingToActiveVariantParam = variant.specification.items.find(item => {
                          return item.code === param.code && item.value.code == param.value.code;
                        });

                        if (paramCorrespondingToActiveVariantParam == undefined) {
                          variants = this.removeVariantByCode(variants, variant.code);
                        }
                      }
                    });

                  } else {
                    variants = this.removeVariantByCode(variants, variant.code);
                  }
                });
              }
            }
          }
        }

        return variants;
      }
    },

    methods: {
      removeVariantByCode(elements, code) {
        let temp = [];

        if (!!elements && !!code) {
          temp = elements;

          let elementIndex = temp.findIndex(element => {
            return element.code == code;
          });


          if (elementIndex != '-1') {
            temp.splice(elementIndex, 1);
          }
        }

        return temp;
      },

      closeSelectors() {
        this.openParamCode = null
      },

      toggleSelector(paramCode) {
        if (paramCode == this.openParamCode) {
          this.openParamCode = null;
        } else {
          this.openParamCode = paramCode;
        }
      },

      getParamValueOfVariantByCode(variant, paramCode) {
        let param = null;

        if (!!variant && !!variant.specification && !!variant.specification.items && !!paramCode) {
          param = variant.specification.items.find(item => {
            return item.code == paramCode
          });

          if (!!param && !!param.value && !!param.value.value) {
            return param.value.value;
          }
        }
      },

      changeActiveVariant(code, param) {
        this.toggleSelector(param);
        this.$router.push('/product/' + code);
      }
    }
  }
</script>

<style scoped lang="scss">
  .fadeanim-enter-active, .fadeanim-leave-active {
    transition: opacity .3s;
  }

  .fadeanim-enter, .fadeanim-leave-to {
    opacity: 0;
  }

  .variants-selector-container {
    width: 100%;

    .param-wrapper {
      h3 {
        margin-bottom: 10px;
      }

      .pseudo-selector {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border: 1px solid rgba(#297FCA, 0.1);
        border-radius: 2px;
        padding: 15px 20px;
        width: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        transition: border .3s;
        user-select: none;

        &:hover {
          border: 1px solid rgba(#297FCA, 0.4);
        }

        &:before {
          content: '';
          border-left: 2px solid #183f5c;
          border-bottom: 2px solid #183f5c;
          width: 8px;
          height: 8px;
          position: absolute;
          right: 15px;
          top: 20px;
          transform: rotate(-45deg);
          transition: transform .3s, top .3s;
        }

        &.open {
          border: 1px solid rgba(#297FCA, 0.4);
          z-index: 101;

          &:before {
            top: 24px;
            transform: rotate(135deg);
          }

          .list {
            opacity: 1;

            .element {
              height: 49px;
              opacity: 1;
            }
          }
        }

        &.scroll .list {
          overflow-y: scroll !important;
        }

        .param-name {
          font-size: 1.3rem;
          letter-spacing: 0.46px;
        }

        .active-element-param {
          font-size: 1.3rem;
          margin-right: 18px;
          letter-spacing: 0.46px;
        }

        .list {
          position: absolute;
          top: calc(100% + 1px);
          left: -1px;
          background: white;
          width: calc(100% + 2px);
          z-index: 100;
          opacity: 0;
          transition: opacity .3s;
          border-left: 1px solid rgba(#297FCA, 0.4);
          border-bottom: 1px solid rgba(#297FCA, 0.4);
          border-right: 1px solid rgba(#297FCA, 0.4);
          max-height: 216px !important;
          overflow-y: hidden;
          padding-bottom: 20px;


          .element {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            width: 100%;
            padding: 0 38px 0 20px;
            height: 0;
            font-size: 1.3rem;
            letter-spacing: 0.46px;
            transition: height .3s, opacity .3s, color .3s;
            opacity: 0;

            &:before {
              content: '';
              position: absolute;
              bottom: 1px;
              right: 0;
              width: calc(100% - 20px);
              height: 1px;
              background: rgba(#297FCA, 0.4);
              transition: background .3s;
            }

            &:hover {
              color: #0073b0;

              &:before {
                background: rgba(#297FCA, 0.8);
              }
            }
          }
        }
      }
    }

    @media (max-width: 450px) {
      .param-wrapper .pseudo-selector {
        padding: 15px;

        .list .element {
          padding: 7px 33px 7px 20px;

          &:before {
            width: calc(100% - 15px);
          }
        }
      }
    }
  }
</style>
